[submodule "secrets"]
	path = modules/secrets
	url = git@trb.sh:/git/secrets.git
[submodule "emacs/.emacs.d"]
	path = modules/emacs/.emacs.d
	url = git@github.com:pbellon/.emacs.d
[submodule "notes/notes"]
	path = modules/notes/notes
	url = git@trb.sh:/git/notes.git
